      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/admin/index">
                <span data-feather="home"></span>
                ホーム
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/apitoken">
                <span data-feather="key"></span>
                API トークン設定
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/admin/devicelist">
                <span data-feather="list"></span>
                デバイス管理
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/admin/accesscode">
                <span data-feather="lock"></span>
                アクセスコード管理
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/admin/systemlogs/monitor">
                <span data-feather="monitor"></span>
                システムログモニター
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/systemlogs">
                <span data-feather="file-text"></span>
                システムログ管理
              </a>
            </li>
          </ul>
        </div>
      </nav>