<div class="modal fade" id="modal-loading" tabindex="-1" role="dialog" aria-labelledby="modal-loading-title"
  data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" id="modal-loading-body">
        <p>
          <span data-feather="loader" class="loader-animation"></span>
          <span id="modal-loading-message">処理中です。しばらくお待ちください。</span>
        </p>
      </div>
    </div>
  </div>
</div>

<script src="/admin-assets/jquery-3.5.1.slim.min.js"></script>
<script src="/admin-assets/popper.min.js"></script>
<script src="/admin-assets/bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
<!-- Icons -->
<script src="/admin-assets/feather.min.js"></script>
<script>
  feather.replace()
</script>